* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'specify-personal-normal-black', sans-serif;
    background: url("../img/pocetna.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
    
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }

  input {
    display: block;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    padding: 0.7rem;
    width: 20rem;
    border: 2px solid #FFD700;
    position: relative;
  
  }

  .container {
      position: absolute;
      top:400px;
      left:585px;
}

form button {
    background-color: #f4e191;
    color:white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

ul li {
  font-size: 2.5rem;
  list-style: none;
}

nav{
  width: 4rem;
  position: relative;
  left: 4rem;
  top:1.5rem;
}
